.send-text-wrapper {
  margin-right: 58px;
}

.send-text {
  width: 100%;
}

.send-button {
  float: right;
}

.send-wrapper {
  position: absolute;
  left: 8px;
  right: 8px;
  bottom: 8px;
}

.received-messages {
  background-color: black;
  list-style-type: none;
  padding-left: 2px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  position: absolute;
  left: 8px;
  right: 8px;
  top: 8px;
  bottom: 36px;
  overflow-y: auto;
  white-space: nowrap;
}

body {
  height: 100%;
}